<app-modal [rowObj]="dataObject" *ngIf="showModal" (hideModal)="showModal = false;"></app-modal>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Index</th>
    <th scope="col">Title</th>
    <th scope="col">URL</th>
    <th scope="col">Created At</th>
    <th scope="col">Author</th>
  </tr>
  </thead>
  <tbody *ngIf="dataRows.length > 0; else noRecord">
  <tr *ngFor="let data of dataRows; index as i" (click)="viewRow(i)" style="cursor:pointer">
    <th scope="row">{{i+1}}</th>
    <td>{{data.title}}</td>
    <td>{{data.url}}</td>
    <td>{{data.created_at}}</td>
    <td>{{data.author}}</td>
  </tr>
  </tbody>
  <ng-template #noRecord>
    No record found
  </ng-template>
</table>
